'SBCEXP17'                                                      ! Title
100                                                             ! Freq (Hz)
numLayers                                                       ! Number of layers in waveguide
'CVF  B'                                                        ! SS interp. option, Upper half opt, atten
0 0 wDepth                                                      ! Mesh points to calc., RMS rough, depth
  0.0        1472.5 /                                           ! SSP
  wDepth     1472.5 /
0 0 layerEnd                                                    ! 1st layer mesh pnts, RMS rough, z
 layerStart speedTop 0 density attenuation 0                    ! ssp (z,c,c(s),rho,atten,atten(s)
 layerEnd speedBottom 0 density attenuation 0 /
0 0 layerEnd                                                    ! 2ns Layer mesh pnts, RMS rough, z
 layerStart speedTop 0 density attenuation 0      
 layerEnd speedBottom 0 density attenuation 0 /
0 0 layerEnd                                                    ! 3rd Layer mesh pnts, RMS rough, z
 layerStart speedTop 0 density attenuation 0      
 layerEnd speedBottom 0 density attenuation 0 /
0 0 layerEnd                                                    ! 4th Layer mesh pnts, RMS rough, z
 layerStart speedTop 0 density attenuation 0      
 layerEnd speedBottom 0 density attenuation 0 /
0 0 layerEnd                                                    ! 5th Layer mesh pnts, RMS rough, z
 layerStart speedTop 0 density attenuation 0      
 layerEnd speedBottom 0 density attenuation 0 /
0 0 layerEnd                                                    ! 6th Layer mesh pnts, RMS rough, z
 layerStart speedTop 0 density attenuation 0      
 layerEnd speedBottom 0 density attenuation 0 /
0 0 layerEnd                                                    ! 7th Layer mesh pnts, RMS rough, z
 layerStart speedTop 0 density attenuation 0      
 layerEnd speedBottom 0 density attenuation 0 /
0 0 layerEnd                                                    ! 8th Layer mesh pnts, RMS rough, z
 layerStart speedTop 0 density attenuation 0      
 layerEnd speedBottom 0 density attenuation 0 /
0 0 layerEnd                                                    ! 9th Layer mesh pnts, RMS rough, z
 layerStart speedTop 0 density attenuation 0      
 layerEnd speedBottom 0 density attenuation 0 /
0 0 layerEnd                                                    ! 10th Layer mesh pnts, RMS rough, z
 layerStart speedTop 0 density attenuation 0      
 layerEnd speedBottom 0 density attenuation 0 /
'A' 0                                                           ! Halfspace option, RMS Rough
hStart hSpeed 0 hDensity hAttenuation 0                         ! Halfspace acoustic properties
100.0 2000                                                      ! Lower and upper phase speed cutoff
10                                                              ! RMAX Maximum range (km)
1                                                               ! NSD   Number source depths
8.3 /                                                           ! SD (1:NSD)(m)
101                                                             ! NRD   Number receiver depths
0.0 100.0 /                                                     ! RD (1:NRD)
numFreqs                                                        ! Nfreq
freqString /                                                    ! freqVec( 1 : Nfreq )